// 头部导航栏 右侧

// 退出按钮 修饰
.layui-header {
    .i-icon {
        margin-left: 20px;
        position: relative;
        i {
            position: absolute;
        }
    }
    
}

// 左侧导航栏

// 字体图标
.layui-side-scroll {
    .layui-nav-item {
        position: relative;
        margin-left: 20px;
        i {
            position: absolute;
            // left: -5px;
            z-index: 3;
        }
    }
}